<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393693153615-sk1b7h9leduopjv930ct7e1rht2gkeu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393693153615-sk1b7h9leduopjv930ct7e1rht2gkeu4</string>
	<key>API_KEY</key>
	<string>AIzaSyBnbpcA8yS9YS3fkbJkZh_cZEKNT_MhuAI</string>
	<key>GCM_SENDER_ID</key>
	<string>393693153615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealbud.stable</string>
	<key>PROJECT_ID</key>
	<string>mealbud-b2ed4</string>
	<key>STORAGE_BUCKET</key>
	<string>mealbud-b2ed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393693153615:ios:323a0de380d897d73f1d3a</string>
</dict>
</plist>